# It is not recommended to modify this file in-place, because it will
# be overwritten during package upgrades. If you want to add further
# options or overwrite existing ones then use
# $ systemctl edit biblepayd.service
# See "man systemd.service" for details.

# Note that almost all daemon options could be specified in
# /etc/biblepay/biblepay.conf

[Unit]
Description=BiblePay daemon
After=network.target

[Service]
ExecStart=/usr/bin/biblepayd -daemon -conf=/etc/biblepay/biblepay.conf -pid=/run/biblepayd/biblepayd.pid
# Creates /run/biblepay owned by biblepaycore
RuntimeDirectory=biblepayd
User=biblepaycore
Type=forking
PIDFile=/run/biblepayd/biblepayd.pid
Restart=on-failure
PrivateTmp=true

[Install]
WantedBy=multi-user.target
